<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{contact::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
       <div class="card">
        <div class="card-body text-center">
            <img class="mb-3" width="300px" onclick="" style="border-radius: 50%;" ondblclick="" th:src="${'/img/images.png'}" alt="">
          
            <h1 class="mt-3 text-secondary">Save your Contact on cloud...</h1>
            <a href="/add-contact"><button class=" btn btn-primary btn-block text-uppercase mt-3 "> Add Contact++</button></a>
            
        </div>
       </div>
    </section>
</body>
</html>